.header {
  position: relative;
  width: 100%;
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.95),
      rgba(5, 116, 244, 0.8)
    ),
    url("../../assets/bghero.jpg");
  background: linear-gradient(
      to bottom,
      transparent,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.95)
    ),
    url("../../assets/bghero.jpg");
  background-size: cover;
  /* background-position: center; */
  min-height: 100vh;
  min-height: 100dvh;
}
