:root {
  --color-primary: #5ec576;
  --col-red-1: #d90429;
  --col-red-2: #dd1c1a;

  --color-blue: #0574f4;
  --color-light-blue: #d3e8fb;
  --color-dark: #121316;
  --color-gray: #516572;
  --color-light: #f6f6f6;
  --color-white: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  /* color: rgba(217, 4, 41, 0.9); */
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: var(--color-gray);
  line-height: 1.6;
  /* background-color: #f3f3f3; */
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* reusable css classes */
.section {
  max-width: 114rem;
  margin: 0 auto;
  /* border-top: 1px solid #f2f2f2; */
}

.section__title {
  max-width: 80rem;
  margin: 0 auto 5rem auto;
}

.section__header {
  font-size: 2.8rem;
  text-transform: capitalize;
  font-weight: 500;
  /* background: linear-gradient(
    to bottom right,
    rgba(102, 102, 255, 1),
    rgba(217, 4, 41, 1)
  ); */
  /* background-clip: text;
  color: transparent; */
  color: var(--color-blue);
}

.section__description {
  font-size: 2.2rem;
  font-weight: 300;
  color: var(--color-dark);
}

@media screen and (max-width: 48.75em) {
  html {
    font-size: 52%;
  }
}
