.footer {
  padding: 10rem 3rem 0rem;
  /* background-color: var(--color-light); */
  background-color: var(--color-gray);
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
}

.footer__logo {
  background-color: white;
  width: min-content;
  margin-bottom: 1rem;
}

.footer__socials {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}

.footer__socials li a {
  font-size: 2.4rem;
}

.footer__item p {
  color: var(--color-light);
  font-size: 1.6rem;
}

.footer__item h3 {
  font-size: 1.8rem;
  color: var(--color-light);
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-weight: 700;
}

.footer__item ul {
  list-style: none;
}

.footer__item ul li {
  margin-bottom: 1rem;
  /* display: flex; */
}

.footer__item a {
  text-decoration: none;
  padding-block: 1rem;
  font-size: 1.5rem;
  color: var(--color-light);
}

.footer__copyright {
  margin-top: 5rem;
  color: var(--color-light);
  text-align: center;
  font-size: 1.5rem;
  padding-block: 1rem;
}
