/* .section__title {
  max-width: 80rem;
  margin: 0 auto;
}

.section__header {
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 600;
}

.section__description {
  font-size: 3.25rem;
  font-weight: 400;
} */

.service {
  padding: 10rem 3rem;
}

.service__content {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.service__icon {
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-blue);
  border-radius: 50%;
}

.code__icon {
  font-size: 3rem;
}

.service__header {
  font-size: 2.4rem;
  margin-block: 2rem;
  color: var(--color-dark);
}

.service__description {
  font-size: 1.6rem;
}

.service__img {
  overflow: hidden;
  border-radius: 2rem;
}

.service__app-dev {
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(40rem, 50rem);
  margin-top: 5rem;
}

.service__app-img {
  background-image: url("../../assets/blob.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.service__app-img > img {
  object-fit: contain;
}

/* the styles for the app development process goes here */
.dev {
  margin-top: 2rem;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 3rem;
}

.dev li {
  margin-block: 2rem;
}

.dev__process {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1rem;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 1 /2;
  grid-column: 1/2;
  padding-inline: 0.5rem;
  border-right: 0.2rem solid var(--color-light-blue);
}

.step__text {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.step__num {
  color: var(--color-blue);
  font-size: 2.4rem;
  font-weight: 600;
}

.step__header {
  grid-row: 1/2;
  grid-column: 2/3;
  font-size: 2rem;
  text-transform: capitalize;
}

.step__description {
  grid-row: 2/3;
  grid-column: 2/3;
  font-size: 1.5rem;
}

/* the css markup for the industries we service section */

.sector {
  padding-inline: 2rem;
}

.sector__header {
  color: var(--color-blue);
}

.sector__sector {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.sector__sector h3 {
  font-size: 2rem;
}

.sector__icon .icon {
  font-size: 6rem;
  color: var(--color-blue);
}

.sector__sector h3 {
  text-transform: capitalize;
  font-weight: 500;
  margin: 2rem 0rem 1rem;
  color: var(--color-dark);
}

.sector__description {
  text-align: center;
  font-size: 1.5rem;
}

/* our expertise section here */

.platform {
  margin-top: 3rem;
}

.platform h1 {
  font-size: 2.4rem;
}

.platform p {
  font-size: 1.6rem;
}

.platform__items {
  margin-top: 3rem;
}

.platform__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.platform__icon {
  font-size: 6rem;
  margin-block: 3rem;
  color: var(--color-blue);
}

.platform .platform__description {
  font-size: 1.5rem;
  text-align: center;
}

/* the housing section styles */
.section__housing {
  padding: 5rem 2rem;
}

.housing__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.housing__image {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.housing__image > * {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.housing__image--1 {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.housing__image--2 {
  grid-column: 4 / -1;
  grid-row: 4 / -1;
}

.housing__description {
  font-size: 1.6rem;
}

.housing__details h3 {
  margin-block: 2rem;
  font-size: 1.6rem;
  color: var(--color-dark);
}

.housing__details ul {
  list-style: none;
  font-size: 1.5rem;
}

.housing__details ul li {
  position: relative;
  margin-block: 1rem;
}

.housing__details ul li h4 {
  color: var(--color-blue);
}

@media screen and (max-width: 31.25em) {
  .dev {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 48.75em) {
  .service__content {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 42.5em) {
  .housing__content {
    grid-template-columns: 1fr;
  }
}
